rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Match any document path
    match /{document=**} {
      allow read: if request.auth != null;
      // Additional rules for write access if needed
    }
  }
}

